@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Livvic:wght@500&family=Roboto:wght@700&display=swap');

/* default settings  */
:root {
    --primary: #E25E20;
    --black: #130f40;
    --gray: #323339;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
    margin: 15rem;
}

body h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 5vh;
}

body h3 {
    font-weight: bold;

}

body span {
    text-decoration: underline;
    color: var(--primary);
}

body .primary button {
    font-size: 1.5rem;
    background-color: var(--primary);
    color: #fff;
    padding: 0.5vw 1vw;
    border-radius: 1rem;
    margin-bottom: 2rem;


}


/* --------------------------------------------------------------navbar css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo img {
    width: 170px;
}


.header .logo i {
    color: var(--primary);
}

.header .navbar ul {

    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}

.header .navbar li {
    display: table-cell;
    position: relative;

}


.header .navbar a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    padding: 5px 5px;
    position: relative;
}

a:after {
    background: var(--primary) repeat scroll 0 0 var(--primary);
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header .navbar a:hover {
    color: var(--primary);
    padding: 1vh 1vw;
}

.header .navbar a:hover:after {
    width: 100%;
    left: 0;
    color: var(--primary);
}

/* ICON HEADER KANAN */
.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    outline: 1px solid var(--primary);
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: var(--primary);
    color: #fff;
}

#menu-btn {
    /* display: none; */
}

/* --------------------------------------------------------------css for banner */
.home {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    margin-top: 15rem;
    background-image: url(images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2%;
}

.homeTitle h1 {
    font-weight: bold;
    text-align: justify;
    margin-top: 5vh;
    margin-bottom: 7vh;
    font-size: 4rem;
    color: var(--gray);
}

.homeTitle {
    margin-right: 3vw;
}

.homeTitle button {
    background-color: #fff;
    color: var(--primary);
    padding: 2.2rem;
    border-radius: 1rem;
    font-weight: bolder;
    font-size: 3rem;
    margin-left: 10vw;
}

.homeTitle button:hover {
    background-color: var(--light-color);
}

.homeImage img {
    height: 65vh;
}

/* --------------------------------------------------------------css for our products */
.products {
    width: fit-content;
    margin: 0 5vw;
    text-align: center;
}

.ourProducts {
    display: flex;
}

.product {
    background-color: white;
    height: 55vh;
    margin: 0 2vw;
    padding: 1.5%;
    border-radius: 1rem;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

.product img {
    margin-bottom: 3vh;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 2px var(--light-color);
}

.productDescription {
    display: inline-flex;
    font-size: 2.2rem;
    margin-bottom: 7vh;
}

.productDescription button {
    cursor: pointer;
    font-size: small;
    background-color: var(--primary);
    color: whitesmoke;
    width: 1.4vw;
    height: fit-content;
    border-radius: 50%;
    margin-left: 0.5vw;
}

.chooseNow button {
    font-size: 1.5rem;
    background-color: var(--primary);
    color: #fff;
    padding: 1vw 3vw;
    border-radius: 1rem;
    box-shadow: 0px 2px var(--light-color);
}

.chooseNow button:hover {
    background-color: var(--light-color);
}

/* --------------------------------------------------------------css for about us  */
.aboutus {
    width: fit-content;
    margin: 0 5vw;
    text-align: center;
    padding-top: 2rem;
}

#aboutusimg {
    float: center;
    width: 300px;
    height: 230px;
    object-fit: contain;
}

.aboutus h3 {
    font-weight: bold;
    margin-bottom: 4vh;
    margin-top: 3rem;
    color: var(--primary);
}

.aboutus h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1vh;
}


/* --------------------------------------------------------------css for testimony  */
.testimony {
    width: 90%;
    margin: 0 5vw;
    text-align: center;
}

h3 #namatesti {
    font-weight: bold;
    color: black;
}

.testimony .testimg {
    display: inline;
}

.testimony #testimg {
    padding: 2rem;
    width: 200px;
    height: 200px;
    object-fit: contain;

}

.testimony .testitext {
    display: inline;
    margin-top: 1rem;
}


.testimony .card {
    border-radius: 20% 15%;
    border-color: var(--primary);
    border-width: 5px;
    margin-bottom: 3rem;
    padding: 2rem;

}

/* ---------------pop up menu kanan  */
.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 35rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a {
    color: var(--green);
    text-decoration: underline;
}


.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--primary);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

/* footer */
.footer {
    width: 100%;
    background-color: var(--primary);
}

.footerContent {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    padding: 3vh 0;
    color: whitesmoke;
    justify-content: space-between;
}

.footerContent h3 {
    font-size: 2.5rem;
}

.footerContent p {
    font-size: 1.5rem;
    text-align: justify;
}

.leftFooter {
    width: 50%;
}

.leftFooter {
    width: 40%;
}

.underline {
    height: 0.3vh;
    width: 15vw;
    background-color: whitesmoke;
    margin-bottom: 1vh;
}