/* menu pilproduk */
.pilproduk {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 12rem;
}

.jenis {
    background-color: white;
    height: max-content;
    margin: 0 2vw;
    padding: 1.5%;
    border-radius: 1rem;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}


.product #pilprodukimg {
    margin-bottom: 3vh;
    padding: 2rem;
    width: 70%;
    height: 70%;
    object-fit: contain;

    border-radius: 1rem;
    box-shadow: 0px 2px var(--box-shadow);
    padding: 2rem;
}


h4 {
    text-align: start;
    font-weight: 900;
}

#jumlahp {
    padding: 1rem 1rem;
    opacity: 50%;
    margin: 0.4rem 1rem;
    background-color: var(--primary);

}

/* -----------------------menu simulation */
.simulation {
    margin: 3rem 5vh;
    padding-top: 3rem;
}

.formsimulate {
    background-color: white;
    height: 55vh;
    margin: 0 2vw;
    padding: 1.5%;
    border-radius: 1rem;
    text-align: start;
    border: var(--primary);
    box-shadow: 0 0 5px #d4d0d0;
}

.produkbutton button {
    font-size: 1.2rem;
    background-color: white;
    border: 3px solid var(--primary);
    color: var(--primary);
    padding: 1vw 8vw;
    border-radius: 1rem;
    margin: 2.5rem auto;


}

.produkbutton button a {
    text-decoration: none;
    text-transform: uppercase;
}

.produkbutton button:hover {
    background-color: var(--primary);
    color: #fff;

    box-shadow: 0px 2px var(--light-color);
}

/* ----------------------------------------------------------------------checkout */
.checkout {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    float: none;

}

.pagination h1 {
    margin: 2rem auto;
}

.formbox {
    background-color: white;
    height: 75vh;
    margin: 0 2vw;
    padding: 3%;
    border-radius: 1rem;
    text-align: start;
    box-shadow: 0 0 5px #d4d0d0;
}

label {
    text-align: start;
}

input {
    border: solid 1px var(--primary);
    border-radius: 5px;
    background-color: rgb(247, 212, 195);
    opacity: 70%;
    padding-left: 1rem;
    color: #000000;
    font-weight: 500;
}

.buttonCheckout {
    background-color: var(--primary);
    color: white;
    padding: 0.3vw 2.5vh;
    border-radius: 1rem;
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 45%;
    margin-top: 2rem;
}

.buttonCheckout button:hover {
    background-color: white;
    border: 3px solid var(--primary);
    color: var(--primary);
}

.inputType {}

#dropdowncheckout {
    padding: 1rem 1rem;
    opacity: 50%;
    font-weight: bolder;
    appearance: auto;
}


/* //////////////////////////// */


.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* -----------------------------------------------qoutation ------------*/
.headerq {
    display: inline-block;

}

.quotationjudul {
    font-weight: bold;
    width: 50%;
    float: right;
    color: var(--primary);
    font-size: 3.5rem;
}

#logoq {
    width: 30%;
    height: 10%;
}


hr.new3 {
    border-top: 3px dotted var(--primary);
    opacity: 100%;
    background-color: white;
}


.noorder {
    margin-top: 3rem;
    font-weight: bold;
}

.judulisi {
    margin: 2rem 0;
    font-weight: bold;
    color: var(--primary);
    display: block;

}

.totalharga {
    margin: 2rem 0;
    font-weight: bold;
    color: var(--primary);
    float: right;
    margin-right: 6%;
}

.tulisan {
    margin: 2rem 0;
    font-weight: bold;
    color: var(--primary);
    float: left;
    margin-right: 6%;
}


.infopem {
    display: inline;
}

.kananinfo {
    font-weight: bold;
    text-align: end;

}

.kirijudul {
    font-weight: bold;
    float: left;
}

.formq {
    background-color: white;
    height: 110vh;
    margin: 0 2vw;
    padding: 3%;
    border-radius: 1rem;
    text-align: start;
    box-shadow: 0 0 5px #d4d0d0;
}